<html>
<head>
    <title>Admin Page</title>
</head>
<body>
	<div>		
		<h1>Admin Features Page </h1>
        <h2>Welcome {{user}} !</h2> <br>
        <p style="color:green;"> {{message}} </p>        		
	</div>
  For example admin features are (functionality to be added):<br/> 
    <button type="button">Add record</button>
    <button type="button">Update record</button>
    <button type="button">Delete record</button>
    <button type="button" onclick="location.href='/generateadminreport';">Generate reports</button> <br/>
  
  <a href='/logout/'> Logout </a> <br/>
  <a href="/index/admin">Return to main page</a>      
</body>
</html>