<html>
<head>
    <title>Standard Page</title>
</head>
<body>
	<div>		
		<h1>Standard Features Page </h1>
        <h2>Welcome {{user}} !</h2> <br>
        <p style="color:blueviolet;"> {{message}} </p>        		
	</div>

  For example standard user features are (functionality to be added):<br/>  
  <button type="button" onclick="location.href='/generateuserrecord';">Retrieve user record</button><br/>

  <a href='/logout/'> Logout </a> <br/>
  <a href="/index/standard">Return to main page</a>      
</body>
</html>